<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        .d1 {
            position: relative;
        }

        .d2 {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0%);
        }
    </style>
</head>
<body>
<div class="d1">
    <div class="d2">
        <form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
            <table>
                <tr>
                    <th colspan="2" style="text-align: center">
                        Update User
                    </th>
                </tr>
                <tr>
                    <td><label for="name">Name: </label></td>
                    <td><input type="text" th:field="*{name}" id="name"></td>
                </tr>
                <tr>
                    <td><label for="lastName">LastName: </label></td>
                    <td><input type="text" th:field="*{lastName}" id="lastName"></td>
                </tr>
                <tr>
                    <td><label for="email">Email: </label></td>
                    <td><input type="text" th:field="*{email}" id="email"></td>
                </tr>
                <tr>
                    <td><label for="password">Password: </label></td>
                    <td><input type="text" th:field="*{password}" id="password"></td>
                </tr>
                <tr th:each="role : ${roles}">
                    <td><input type="checkbox" th:field="*{roles}" th:value="${role.getId()}" id="role"></td>
                    <td><label for="role" th:text="${role.getName()}"> </label></td>
                </tr>
                <tr>
                    <td><a href="/admin/">Exit</a></td>
                    <td style="text-align: right" ><input type="submit" value="Update"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>